$color_1: white;
$color_2: black;
$font-family_1: inherit;
$background-color_1: #131A22;
$background-color_2: #7490AF;
$background-color_3: #455E79;
$background-color_4: #7490AF;

.farro-light {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.farro-regular {
  font-family: "Farro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.farro-medium {
  font-family: "Farro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.farro-bold {
  font-family: "Farro", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "Farro", sans-serif;
  color: #eeede7;
  background-color: #868b8e;
}

header {
  position: sticky;
  top: 0;
  background: $background-color-1;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.navbar {
  overflow: hidden;
  background-color: $background-color_1;
  a {
    float: left;
    font-size: 16px;
    color: $color_1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: $background-color_3;
    }
  }
}
.subnav {
  float: left;
  overflow: hidden;
  .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: $color_1;
    padding: 14px 16px;
    background-color: $background-color_1;
    font-family: $font-family_1;
    margin: 0;
  }
  &:hover {
    .subnavbtn {
      background-color: $background-color_3;
    }
    .subnav-content {
      display: block;
    }
  }
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: $background-color_3;
  width: 100%;
  z-index: 1;
  a {
    float: left;
    color: $color_1;
    text-decoration: none;
    &:hover {
      background-color: $background-color_4;
      color: $color_2;
    }
  }
}

.container {
  position: relative;
  text-align:center;
  color: white;
}

.title {
  font-size: 80px;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.subtitle {
  font-size: 40px;
  position: absolute;
  bottom: 20%;
  right:20%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #fffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

